# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: The Elara Handbook
author: The Project Elara contributors
logo: elara-logo.svg

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
# execute:
#   execute_notebooks: force

# Add a bibtex file so that we can create citations
# (will add in later once we have citations)
# bibtex_bibfiles:
#   - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/elaraproject/elara-handbook  # Online location of your book
  path_to_book: book  # Optional path to your book, relative to the repository root

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true

latex:
  latex_documents:
    targetname: elara-handbook.tex

# No copyright (because public domain)
sphinx:
  config:
    latex_engine: "xelatex" # use a modern TeX engine
    html_show_copyright: false
    # on print, show inline links as footnotes
    latex_show_urls: "footnote"
    latex_show_pagerefs: True
    latex_logo: logo.png
    # add some LaTeX packages that Mathjax supports
    # but vanilla TeX doesn't
    latex_elements:
        preamble: |
            \usepackage{cancel}
            % for image support
            \usepackage[dvipdfm]{graphicx}
            % see: https://tex.stackexchange.com/questions/17734/cannot-determine-size-of-graphic
            \usepackage{bmpsize}